.nav {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin-bottom: 0px;
}

.links {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.links:hover {
  text-decoration: underline;
  color: white;
}

.profile-icon {
  width: 30px;
  height: 30px;
  padding: 5px 20px;
  border-radius: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
}
.profile-icon:hover{
  color: green;
}
