.nav {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin-bottom: 0px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: blueviolet; */
  font-weight: bold;
}
