.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.bttns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bg {
    margin: 0px;
    /* background-color: rgba(0, 0, 0, 0.9); */
    background: linear-gradient(45deg,  rgb(0,0,0), rgba(0,0,0,0.8))
}

