.product-card {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1));
  /* background: rgba(255, 255, 255, 0.1); */
  margin: 20px 70px 50px 50px;
  /* border: 2px solid green; */
  border-radius: 8px;
  overflow: hidden;
  width: 190px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.product-card:hover {
  margin: 15px 70px 45px 50px;
  /* border: 2.5px solid white; */
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.05);
}
.product-card img {
  padding-top: 10px;
  width: 150px;
  height: 100px;
}

.product-details {
  padding: 0px 8px 6px 8px;
  font-size: 15px;
}

.product-card button {
  margin: 15px;
  border: 0px;
  color: white;
  background-color: rgba(0,0,0,0);
}
.product-card button:hover {
  color: green;
}
.product-card hr {
  margin: 2px;
  border: 0px solid white;
}
